.info-text {
  text-align:center;
}

mat-spinner {
  margin:auto;
}

mat-paginator {
  margin-top: 1rem;
}


.mat-form-field--inline {
  margin-right: 30px;
}

.export-to-excel {
  float : right;
}

.export-to-excel:hover {
  background: green;
}



